<nav class="nav">
    <h1>Shopping cart</h1>
    <div class="nav-search">
        <input type="text" [(ngModel)]="searchTerm" (keyup)="search($event)"  placeholder="search products"/>
        <button>Search</button>
        <div class="dropdown">
            <button> Filter
            <div class="dropdown-content"> 
            <a (click)="filter('fashion')">Fashion</a>
            <a (click)="filter('electronics')">Electronics</a>
            <a (click)="filter('jewelery')">Jwellery</a>
            </div>
            </button>
          </div>
    </div>
    <ul>
    <li><a (click)="profileName()"><img src="assets/profile_logo.png" alt="" width="35"></a></li>
        <li><button (click)="logout()">Log Out</button></li>
    </ul>
</nav>

