<app-header></app-header>
<app-sidebar></app-sidebar>


<ng-container *ngIf="products.length!=0">
    <div class="container">
        <div class="card-table">
            <div class="card-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="width:120px;" src="{{item.image}}"alt=""></td>
                            <td style="width:25%;">{{item.price}}</td>
                            <td style="width:12%;">{{item.quantity}}</td>
                            <td style="width:12%;">{{item.total}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt">Cancel</i></button>
                            </td>
                            <td>
                                <button routerLink="/track" (click)="addtoTrack(item)" class="btn btn-danger"><i class="fas fa-trash-alt">Track</i></button>
                            </td>
                           </tr>
                        <tr>
                            <td colspan="4"></td>
                            <!-- <td><button (click)="emptycart()" class="btn btn-danger">Remove All Order</button></td> -->
                            <td><button routerLink="/home" class="btn btn-primary">Shop More</button></td>
                            <br>
                            <td><strong>Grand Total: ${{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length==0">
<div class="container">
    <div class="card">
        <h4 class="card-title"><strong>My Order</strong></h4>
    </div>
    <div class="center">
        <h5>No order Placed</h5>
        <button routerLink="/home" >Shop Now</button>
    </div>
</div>
</ng-container>

<app-footer></app-footer>


