<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h3>Shopping Cart</h3><hr>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">Full Name</label>
                        <input formControlName="name" placeholder="Enter Your Full Name" type="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
                        <span class="text-danger" *ngIf="signupForm.controls['name'].dirty && signupForm.hasError('required','name') && signupForm.invalid && signupForm.touched">*Name is required</span>
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input formControlName="email" placeholder="Enter Your Email address" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email') && signupForm.invalid && signupForm.touched">*Email is required</span>

                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input formControlName="password" placeholder="Enter Your Password" type="password" class="form-control" id="exampleInputPassword1">
                      <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password') && signupForm.invalid && signupForm.touched">*Password is required</span>

                    </div>
                    
                    <button type="submit" (click)="getsignUp()" [disabled]="!signupForm.valid" class="btn btn-primary">Submit</button>
                  </form>
                  <br>
                  <a routerLink="/login">Already have an account? Login</a>
            </div>
        </div>
    </div>
</div>