<app-header></app-header>
<app-sidebar></app-sidebar>


<ng-container *ngIf="products.length!=0">
    <div class="container">
        <div class="card-table">
            <div class="card-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="width:120px;" src="{{item.image}}"alt=""></td>
                            <td style="width:25%;">{{item.price}}</td>
                            <td style="width:12%;">{{item.quantity}}</td>
                            <td style="width:12%;">{{item.total}}</td>
                            </tr>
                        <tr>{{obsMsg}}</tr><br><br>
                        <tr>{{nextMsg}}</tr><br><br>
                        <tr>{{Msg}}</tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>
 

<app-footer></app-footer>

